
{% extends "header.html" %}

{% block content %}
{% load static %}
<section class="abt_us_sec common_padding">
    <div class="container">
    <div class="row">
        
        <div class="col-lg-4 col-md-4 col-sm-4">
         <img src="https://images.pexels.com/photos/13153414/pexels-photo-13153414.jpeg?cs=srgb&dl=pexels-obi-onyeador-13153414.jpg&fm=jpg" class="img-fluid">
         <!-- <span class="text-justify">S.Web Developer</span> -->
        </div>
        <div class="col-lg-8 col-md-8 col-sm-8 ">
          
         <h3>About Us</h3>
         <p>
            
            ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
          tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
          quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
          consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
          cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
          proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
         </p>
        </div>
       </div>
    </div>
</section>
    
    {% endblock %}